.chat-main__chat-left {
    padding: var(--basic-side-padding);
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.chat-main__text {
    display: flex;
    flex-direction: column;
}

.chat-main__chat-name {
    font-size: 13px;
}

.chat-main__chat-content {
    font-size: 15px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 0 15px 0 15px;
    background-color: rgba(171, 241, 186, 0.5);
    font-weight: 800;
}

.chat-main__time {
    font-size: 13px;
    margin-top: 40px;
    padding-left: 5px;
    color: rgba(0, 0, 0, 0.5);
}