.blur {
    filter: blur(5px);
}

.secret-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.secret-auth {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10%;
    left: 15%;

}

.secret-auth__form > form {
    width: 230px;
    position:relative;
    top: 320px;
    left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secret-auth__form > form > input {
    padding: 20px;
    text-align: center;
    background-color: white;
    border: none;
    font-weight: 800;
}

.secret-auth__form > form > button {
    margin-top: 10px;
    background-color: transparent;
    border: none;
    font-weight: 800;
}

