.chats-main__chats {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 25px;
    padding-top: 15px;
}

.chats-main__secret-chats {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 25px;
    padding-top: 15px;
}

.chats-main__submenu {
    padding: var(--basic-side-padding);
    margin-bottom: 20px;
    width: 100%;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.3);
}